.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: white;
}

.header-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.time-icon {
  margin-left: auto;
  margin-right: 30px;
}

.header-avatar {
  cursor: pointer;
}
.header-avatar:hover {
  opacity: 0.8;
}

.header-search{
    flex: 0.4;
    opacity:1;
    border-radius: 6px;
    background-color: #421f44;
    text-align: center;
    padding: 0 50px;
    color: gray;
    border: 1px gray solid;
    display: flex;
}

.header-search input{
    background-color: transparent;
    border:none;
    text-align: center;
    min-width: 30vw;
    outline:0;
    color: white;
}

.header-right{
    flex:0.3;
    display: flex;
    align-items: flex-end;
}

.header-right .help-icon{
    margin-left: auto;
    margin-right: 20px;
}