.sidebar-container {
  background-color: var(--slack-color);
  color: white;
  flex: 0.3;
  border-top: 1px solid #49274b;
  max-width: 260px;
  margin-top: 47px;
  overflow-y: scroll ;
  scroll-behavior: smooth;
}
.sidebar-container::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #F5F5F5;
  margin-top: 2px;
  margin-bottom: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

.sidebar-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sidebar-container::-webkit-scrollbar-thumb
{
  min-height: 20px;
  max-height: 30px;
  cursor: pointer;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #500452ee;
}



.sidebar-container hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar-header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
}
.sidebar-header .edit-icon {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background-color: white;
  border-radius: 999px;
}
.sidebar-info {
  flex: 1;
}
.sidebar-info>h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar-info>h3 {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
}

.status-icon {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}


